.home{
    background: -webkit-linear-gradient(180deg, #101010, #0A0A0A);
    height: auto;
    width: 100vw;
}
.homeMain{
    width: 100vw;
    height: 100vh;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.watchedFilmsText, .nextFilmsText{
    color: white;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    display: flex;
    gap: 30px;
}
.qtdWatchedFilmsText, .qtdNextFilmsText{
    color: #333;
}


