.home{
    background: -webkit-linear-gradient(180deg, #101010, #0A0A0A);
    height: auto;
    width: 100vw;
}
.homeMain{
    height: auto;
    width: 100%;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.watchedFilmsContainer, .nextFilmsContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.watchedFilmsText, .nextFilmsText{
    color: white;
    font-size: 1em;
    font-weight: 700;
    display: flex;
    gap: 30px;
}
.qtdWatchedFilmsText, .qtdNextFilmsText{
    color: #333;
}

.watchedFilms, .nextFilms{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
}


