@keyframes treme {
    0% {margin-left: 0;}
    25% {margin-left: 5px;}
    50% {margin-left: 0;}
    75% {margin-left: -5px;}
    100% {margin-left: 0;}
}

@media(min-width: 768px){
    .main{
        width: 100vw;
        height: 100vh;
        display: flex;
        background-color: black;
    }    
}

@media(max-width: 768px){
    .main{
        width: 100vw;
        height: 100vh;
        background-color: black;
    }    
}