.signup {
    background: -webkit-linear-gradient(180deg, #101010, #0A0A0A);
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    color: var(--primary);
    width: 90%;
    height: auto;
    margin: auto;
    padding-top: 3%;
}

.title{
    border-bottom: solid var(--secondary) 3px;
    padding: 10px 20px;
}