.users{
    background: -webkit-linear-gradient(180deg, #101010, #0A0A0A);
    height: auto;
    width: 100vw;
}

.usersContent{
    height: 100vh;
}

.usersConteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin: 60px auto;
    width: 85%;
}

.usersConteinerText{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.usersConteinerText span{
    display: flex;
    gap: 30px;
    color: var(--primary);
    font-size: 1em;
    font-weight: 700;
}

.usersConteinerText span p#changeBtn{
    color: var(--secondary);
    text-decoration: underline;
    text-underline-offset: 3px;
    cursor: pointer;
}

.usersConteinerText span p#qtdUsers{
    color: var(--quaternary);
}

.usersConteinerContent{
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 30px;
    gap: 30px;
}