.footer{
    background-color: var(--quaternary);
    color: var(--primary);
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 40px;
    align-items: flex-end;
    font-size: 0.8rem;
}
.footerText{
    padding-right: 40px;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
