@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.main{
    width: 30vw;
    height: 80vh;
    background-color: #333333;
    display: flexbox;
    padding: 70px 0px 0px 0px;
    border-style: solid;
    border-color: #FFBF31;
    border-width: 5px;
    border-top: none;
    border-bottom: none;
}

.title{
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: bolder;
    color: #FFBF31;
    text-align: center;
    margin-bottom: 10px;
}

.subtitle{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: white;
    text-align: center;
}

.form{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.inputBox1{
    width: 25em;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #C7C7C7;
    margin-bottom: 0.5em;
    margin: auto;    
    padding: 10px 10px 10px 50px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: bold;

    background-image: url("../../assets/iconEmail.svg");
    background-repeat: no-repeat;
    background-position: 15px 11.5px;
}

.inputBox2{
    width: 25em;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #C7C7C7;
    margin-bottom: 0.5em;
    margin: auto;    
    padding: 10px 10px 10px 50px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: bold;

    background-image: url("../../assets/iconPassword.svg");
    background-repeat: no-repeat;
    background-position: 14px 11.5px;
}

.forgotPassword, #linkForgot:visited{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: #609A9B;
    text-align: right;
    padding-right: 7.5em;
    margin-bottom: 10px;
}

.button {
    border: solid #609A9B;
    background-color: #333333;
    width: 15em;
    height: 3em;
    border-radius: 4px;
    
    color: #609A9B;
    font-family: "Roboto" sans-serif;
    font-size: 12px;
    font-weight: bold;

    align-items: center;
    text-align: center;

    cursor: pointer;
  }

  .button:hover{
    transition: 0.3s;
    border: solid #609A9B;
    background-color: #609A9B;
    color: white;
  }

  .divButton{
    text-align: center;
    margin-top: 10em;
  }