@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.main{
    width: 35vw;
    height: 80vh;
    background-color: #333333;
    display: flexbox;
    border-style: solid;
    border-color: #FFBF31;
    border-width: 5px;
    border-top: none;
    border-bottom: none;
}

.centerCircle{
    display: flex;
    align-items: center;
    justify-content: center;
}

.topCircle{
    width: 120px;
    height: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color: black;
    margin-bottom: 50px;
}

.title{
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: bolder;
    color: #FFBF31;
    text-align: center;
    margin-bottom: 10px;
}

.subtitle{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: white;
    text-align: center;
    margin-bottom: 70px;
}

.form{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.inputBox1{
    width: 25em;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #C7C7C7;
    margin-bottom: 0.5em;
    margin: auto;    
    padding: 10px 10px 10px 50px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: bold;

    background-image: url("../../assets/iconEmail.svg");
    background-repeat: no-repeat;
    background-position: 15px 11.5px;
}

.inputBox2{
    width: 25em;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #C7C7C7;
    margin-bottom: 0.5em;
    margin: auto;    
    padding: 10px 10px 10px 50px;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: bold;

    background-image: url("../../assets/iconPassword.svg");
    background-repeat: no-repeat;
    background-position: 14px 11.5px;
}

.imageContainerForgot{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 7.2em;
    margin-top: 10px;
}

.linkForgot, .linkForgot:visited{
    text-decoration: none;
    font-family: "Roboto" sans-serif;
    font-size: 10px;
    color: #609A9B;
}

#imageForgot{
    margin: -2px 3px;
}

.button {
    border: solid #609A9B;
    background-color: #333333;
    width: 15em;
    height: 3em;
    border-radius: 4px;
    
    color: #609A9B;
    font-family: "Roboto" sans-serif;
    font-size: 12px;
    font-weight: bold;

    align-items: center;
    text-align: center;

    cursor: pointer;
  }

  .button:hover{
    transition: 0.2s;
    border: solid #609A9B;
    background-color: #609A9B;
    color: white;
  }

  .divButton{
    text-align: center;
    margin-top: 5em;
  }

.imageContainerSignUp{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.linkSignUp, .linkSignUp:visited{
    text-decoration: none;
    font-family: "Roboto" sans-serif;
    font-size: 12px;
    color: #609A9B;
}

#imageSignUp{
    margin: -1.5px 3px;
}

