.searchBar{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.searchBar input{
    flex: 1;
    padding: 0.5rem;
    background-color: transparent;
    text-align: center;
    border: none;
    border-radius: 0.25rem;
    color: #fff;
}
.searchBar input::placeholder{
    color: #fff;
    text-align: center;
}