.text {
    color: #333;
    font-size: 2em;
    font-weight: 700;
    display: flex;
    gap: 30px;
    text-transform: uppercase;

    margin: 10px;
    padding: 10px;
}

.button {
    background-color: transparent;
    border: none;
    color: inherit;
    outline: none;

    color: #333;
    font-size: 2em;
    font-weight: 700;
    display: flex;
    gap: 30px;
    text-transform: uppercase;

    margin: 10px;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
