.userBox{
    position: relative;
    width: 300px;
    height: 70px;
    display: flex;
    gap: 12px;
    color: var(--primary);
    align-items: center;
    padding: 0px 10px;
    border-radius: 10px;
}

.userBox:hover{
    background-color: var(--quaternary);
    cursor: pointer;
}

.userBox img{
    align-self: center;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.content h3{
    font-size: 0.8rem;
    font-weight: 700;
}
.content p{
    font-size: 0.6rem;
    font-weight: 400;
}
.icon{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #FF8383;
}

.icon:hover{
    cursor: pointer;
    color: #f74f4f;
}

.userEvaluationsBox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.userEvaluationsBoxContent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    height: 400px;
    width: 500px;
    background-color: #0A0A0A;
    border-radius: 10px;
}

.closeButton{
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 2;
    cursor: pointer;
}

.userEvaluationsBoxContent h2{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 10px;
}

.userEvaluationsBoxContent h3{
    font-size: 1rem;
    font-weight: 700;
    color: var(--tertiary);
    margin-bottom: 10px;
}